<!--
Developer Notes:
This file is read in as a template and will not work properly until parsed.
-->
{{ define "content" }}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 about-section">
			<h1>About 300 Days of Run</h1>
			<p>
				300 Days of Run is an international running event that bridges the worlds of endurance running and philanthropy. It is a free and easy way to challenge yourself towards an AUDACIOUS running goal. 
			</p>
			<p><strong>
				Your challenge is to run 300+ days in 2016 and raise money for YOUR favorite charity while doing it. 
			</p></strong>
			<p>
				Over 1,000,000 runners finished a marathon last year.<br />
				But how many of them ran 300+ days during the year?<br />
				You can be part of an elite group and accomplish what FEW runners have ever achieved!
			</p>
			<p>
				How does it work?<br />
				1 – <a href="/register">Sign up for the challenge</a> using your Strava Account (Don’t have a Strava account? Click to get your FREE account)<br />
				2 – Set up your fundraising account to raise money for YOUR charity including setting your personal target. (Also totally free)<br />
				3 – Run 300+ Days in 2016!
			</p>
		</div>
	</div>
</div>
{{ end }}