<!--
Developer Notes:
This file is read in as a template and will not work properly until parsed.
This page will only display after the user has been authenticated

Variables:
 - {{.Email}}
 - {{.NewUser}}
 - {{.FirstName}}
 - {{.PublicURL}}
 - {{.PrivateURL}}
-->
{{ define "content" }}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Your 300 Days of Run Summary Page</h1>
			<p class="larger-text">
				Hi there, {{.FirstName}}! You're all set up with 300 Days of Run. 
			</p>
			<h3>What's next?</h3>
			<p class="larger-text">
				Your CrowdRise fundraising page is set-up and you will want to now personalize it by explaining why you've selected your chosen charity, adding pictures, and things like that. You will also need to set your CrowdRise password. To take care of all that, <a href="{{.PrivateURL}}" target="_blank">visit your private CrowdRise page</a>.
			</p>
			<p class="larger-text">
				Next, it is time to start fundraising! Here is the link to your personal CrowdRise fundraising page:
			</p>
			<div class="well">
				{{.PublicURL}}
			</div>
			<p class="larger-text">
				Use the link to send to your friends by email and social media so they can donate to your charity. When you log into CrowdRise they also offer several integrated fundraising widgets and social links to use. 
			</p>
			<p class="larger-text">
				We're keep track of your fundraising and your running on our <a href="/#leaderboard-section" target="_blank">leaderboard</a>, so be sure to check on your progress as the year goes on.
			</p>
			<p class="larger-text">
				Happy Running and best wishes on your 300+ Days of Run in 2016!
			</p>
		</div>
	</div>
</div>
{{ end }}