<!--
Developer Notes:
This file is read in as a template and will not work properly until parsed.
-->
{{ define "content" }}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Privacy Policy</h1>
			<p>300 Days of Run (<a href="http://www.300daysoftun.com/">www.300daysoftun.com</a>), including any subpages or mobile versions thereof, is owned, operated and maintained by 300 Days Inc, (300 Days) a Colorado not-for-profit corporation in application for 501(c)(3) non-profit. This Site provides information and access to the year-long challenge 300 Days of Run and allows you and others to view participant information, progress and statistics regarding the running challenge. Additional information about the challenge is available on the Site and in our Waiver and Consent to Participate and Terms of Use.</p>

			<p>300 Days Inc. is committed to keeping any and all Personal Information collected of those individuals that visit our website and make use of our online facilities and services accurate, confidential, secure and private. Our privacy policy has been designed and created to ensure those affiliated with 300 Days Inc. of our commitment and realization of our obligation not only to meet but to exceed most existing privacy standards.</p>

			<p><b><i>THEREFORE</i></b>, this Privacy Policy Agreement shall apply to 300 Days Inc., and thus it shall govern any and all data collection and usage thereof. Through the use of www.300daysofrun.com you are herein consenting to the following data procedures expressed within this agreement.</p>

			<p><b>Collection of Information</b></p>

			<p>With your consent, we may collect certain personal and non-Personal Information from you using the site. For purposes of this Policy, <b>“<strong>Personal Information</strong>”</b> means any information that can be used to identify you as an individual, including your full name; address; online contact information, such as an email address, screen name or username; or any persistent identifier that can be used to recognize you over time and across different services; and any information about an individual linked to such identifying information.</p>

			<p>300 Days of Run does not knowingly collect Personal Information about you without your consent. You can visit this Site without providing Personal Information, however, you may not be able to access certain features, or enter the year-long challenge. </p>

			<p>This website may collect various types of information, such as:</p>

			<p>· <strong>Registration information when you join the challenge –</strong>When you sign up on the Site and authenticate with a Participating Application, the Site will collect information available via the Participating Application including: name, email address, birthdate, zip code, and running metrics and data. Challenge members will also set up a Crowd-fundraising page also with a Participating Application, which will associate data from fundraising back to the site: total donation amounts and information. We generally use registration information so that we can track your performance, if necessary contact you about your account, and administer the Site and 300 Days of Run. By providing us this information, you consent to our collection of your Personal Information and public publication of your profile.</p>

			<p>· When you join the register and join 300 Days of Run, your name and email address are added to the 300 Days of Run mailing list. If you entered your email and name to keep apprised of future events, your information will also be added to the 300 Days of Run mailing list.</p>

			<p>· <strong>When you log your runs – We will collect</strong> information about the runs that participants take, including the name of the route you took, the miles you ran, elevation gained, speed of run and other metrics tracking during your run. This information is associated with your account and Personal Information. We use this information only to track your achievements in the Challenge, analyze how you run and as necessary to administer our Site and event. Please note, when you sync your Run Data using a Participating Application, we collect and use the information you choose to share using that Participating Application’s sync functionality or API. Please note: data may be shared automatically, based on the settings you chose. Please visit the Participating Application(s) for details on any additional information they may collect or share.</p>

			<p>· <strong>From cookies and analytics</strong><strong>–</strong>Like many companies, 300 Days of Run, Inc. uses "cookie" technology on the Site. Cookies are information stored on your computer by your browser to save your preferences while you are visiting a particular site. When you log in, the cookie tells us whether you've visited us before or are a new visitor. The cookie doesn't collect any Personal Information about you or provide us with any way to contact you, and the cookie doesn't extract any information from your computer. We may use the cookie to help us identify Site features in which you have the greatest interest so that we can provide more of what you may want.</p>

			<p>We may also use pixels, or transparent GIF files, to help manage online advertising. These files enable us to recognize a unique cookie on your Web browser, which in turn enables us to learn which advertisements bring users to our website. The cookie was placed by us, or by another advertiser who works with us. With both cookies and pixels, the information that we collect and share is anonymous and not personally identifiable. If you do not enable cookies to be received by your web browser, you may not be able to access certain features and functionality on this Site.</p>

			<p>Please note, most modern browsers include a “do not track” feature that may help protect your privacy. However, because there is not yet a defined response to do-not-track requests, our Site does not respond to your browser’s do-not-track request. In addition, we do not, nor do we allow third parties to, track our Site visitors over time or across third party sites.</p>

			<p>· Our Site may use cookies provided by website analytics services such as Google Analytics to help us better understand how our Site is used. To learn more about, or to opt-out of Google’s analytic and marketing services, visit <a href="http://www.google.com/analytics/tos.html">Google Analytics Terms of Use</a>, the <a href="http://www.google.com/privacypolicy.html">Google Privacy Policy</a>, or <a href="https://tools.google.com/dlpage/gaoptout?hl=en-GB">Google Analytics Opt-out</a>.</p>

			<p>Please rest assured that this Site shall only collect Personal Information that you knowingly and willingly provide by way of surveys, completed membership forms and Participant Application Authentication and emails. It is the intent of this Site to use Personal Information only for the purpose for which it was requested and any additional uses specifically provided on this site.</p>

			<p>300 Days Inc. may have the occasion to collect anonymous demographic information, such as age, gender, household income, political affiliation, race and religion at a later time. We may also gather information about the type of browser you are using, IP address or type of operating system to assist us in providing and maintaining superior quality service.</p>

			<p>It is highly recommended and suggested that you review the privacy policies and statements of any website you choose to use or frequent as a means to better understand the way in which other websites garner, make use of and share information collected.</p>

			<p><b>Use of Information Collected</b></p>

			<p>We value the privacy of your Personal Information. 300 Days Inc. may collect and may make use of Personal Information to assist in the operation of our website and to ensure delivery of the services you need and request. At times, we may find it necessary to use personally identifiable information as a means to keep you informed of other possible products and/or services that may be available to you from www.300daysofrun.com. 300 Days Inc. may also be in contact with you with regards to completing surveys and/or research questionnaires related to your opinion of current or potential future services that may be offered.</p>

			<p><strong>For participants, information from your profile, including your name, photo, the total number of miles, elevation and days you run, your achievements, other Run Data, and Fundraising Data will be publically visible on the Site.</strong></p>

			<p>We do not now, nor will it in the future, sell, rent or lease any of our customer lists and/or names to any third parties.</p>

			<p>We may feel it necessary, from time to time, to make contact with you on behalf of other external business partners with regards to a potential new offer which may be of interest to you. If you consent or show interest in presented offers, then, at that time, you may opt-in to share specific identifiable information, such as name, email address and/or telephone number with the third party.</p>

			<p>We may, without your consent, share Personal Information with service providers who provide services on our behalf and provide protections that are consistent with this Policy. For example, we may share certain Personal Information with third parties such as providers of data hosting or processing services and other providers of essential and internal services.</p>

			<p>We may deem it necessary to follow websites and/or pages that our users may frequent in an effort to gleam what types of services and/or products may be the most popular to customers or the general public.</p>

			<p>In limited circumstances, we may share Personal Information we possess as part of a sale or transfer of our business, or substantially all of our assets. We may also share Personal Information if we need to protect the interests of 300 Days of Run Inc., our participants, property, or the public, to the extent allowed by law. Similarly, we may share Personal Information with governmental authorities or otherwise in response to a legal request that we believe requires us to do so. We will share any such information to the extent we believe that request requires. Legal requests include, for example, search warrants, subpoenas, and other orders issued by courts, regulators and other governing bodies. We may also receive legal requests or orders from jurisdictions outside the United States, in which case you consent for your Personal Information to be transferred to the applicable country.</p>

			<p><b>Children Under Age of 13</b></p>

			<p>300 Days Inc. does not knowingly collect personal identifiable information from children under the age of thirteen (13) without verifiable parental consent. If it is determined that such information has been inadvertently collected on anyone under the age of thirteen (13), we shall immediately take the necessary steps to ensure that such information is deleted from our system's database. Anyone under the age of thirteen (13) must seek and obtain parent or guardian permission to use this website.</p>

			<p><b>International Participants</b></p>

			<p>If you are accessing this Site from outside of the United States, you consent to the transfer of your Personal Information to the United States, and the processing, use, and sharing of your Personal Information in accordance with this Policy. Regardless of where your Personal Information is collected or transferred, the information will be treated in accordance with this Policy.</p>

			<p><b>Unsubscribe or Opt-Out</b></p>

			<p>All users and/or visitors to our website have the option to discontinue receiving communication from us and/or reserve the right to discontinue receiving communications by way of email or newsletters. To discontinue or unsubscribe to our website please send an email that you wish to unsubscribe to unsubscribe@300daysofrun.com. </p>

			<p><b>Links to Other Web Sites</b></p>

			<p>Our website does contain links to affiliate and other websites. 300 Days Inc. does not claim nor accept responsibility for any privacy policies, practices and/or procedures of other such websites. Therefore, we encourage all users and visitors to be aware when they leave our website and to read the privacy statements of each and every website that collects personally identifiable information. The aforementioned Privacy Policy Agreement applies only and solely to the information collected by our website.</p>

			<p><b>Security</b></p>

			<p>300 Days Inc. shall endeavor and shall take every precaution to maintain adequate physical, procedural and technical security with respect to our offices and information storage facilities so as to prevent any loss, misuse, unauthorized access, disclosure or modification of the user's Personal Information under our control.</p>

			<p><b>Changes to Privacy Policy Agreement</b></p>

			<p>300 Days Inc. reserves the right to update and/or change the terms of our privacy policy, and as such we will post those change to our website homepage at www.300daysofrun.com, so that our users and/or visitors are always aware of the type of information we collect, how it will be used, and under what circumstances, if any, we may disclose such information. If at any point in time 300 Days Inc. decides to make use of any personally identifiable information on file, in a manner vastly different from that which was stated when this information was initially collected, the user or users shall be promptly notified by email. Users at that time shall have the option as to whether or not to permit the use of their information in this separate manner.</p>

			<p><b>Acceptance of Terms</b></p>

			<p>Through the use of this website, you are hereby accepting the terms and conditions stipulated within the aforementioned Privacy Policy Agreement. If you are not in agreement with our terms and conditions, then you should refrain from further use of our sites. In addition, your continued use of our website following the posting of any updates or changes to our terms and conditions shall mean that you are in agreement and acceptance of such changes.</p>

			<p><b>How to Contact Us</b></p>

			<p>If you have any questions or concerns regarding the Privacy Policy Agreement related to our website, please feel free to contact us at the following email, telephone number or mailing address.</p>

			<p><b>Email:</b> info@300daysofrun.com</p>

			<p><b>Telephone Number:</b> +1 (303) 579-3096</p>

			<p><b>Mailing Address:</b></p>

			<p>300 Days Inc.</p>

			<p>PO Box 270367</p>

			<p>Louisville, Colorado 80027</p>

			<p>12/15/2015</p>

		</div>
	</div>
</div>
{{ end }}