{{ define "register1" }}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="visible-sm visible-md visible-lg">You're connected with Strava <i class="glyphicon glyphicon-ok-circle"> </i></h1>
		<h3 class="visible-xs">You're connected with Strava <i class="glyphicon glyphicon-ok-circle"> </i></h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="visible-sm visible-md visible-lg">Step 2: Connect with CrowdRise</h1>
		<h3 class="visible-xs">Step 2: Connect with Crowdrise</h3>
		<p class="larger-text">
			You'll use the Crowdrise platform to raise money for the charity of your choice. We'll use the details from your Strava account to create your Crowdrise account. If you've already got one, we'll find it automatically.
		</p>
		<form action="" method="post">
			<button name="submit" class="btn btn-lg btn-primary" onClick="crowdriseSetup(this.form); return false;">Connect with Crowdrise</button>
		</form>
		<div id="result">
		</div>
	</div>
</div>
{{ end }}