{{ define "register1" }}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="visible-sm visible-md visible-lg">Step 1: Connect with Strava</h1>
		<h3 class="visible-xs">Step 1: Connect with Strava</h3>
		<p class="larger-text">First things first. We use Strava to track all of your runs throughout the year. Click below to connect your existing Strava account to 300 Days of Run. If you don't have a Strava account yet, you'll be able to create one after clicking the "Connect with Strava" button. Strava is FREE to use and integrates with most GPS watches and smartphones.</p>
		<p class="text-center">
			<a href="https://www.strava.com/oauth/authorize?client_id={{.StravaClientID}}&response_type=code&redirect_uri=http://300daysofrun.com/token_exchange&scope=write&state=newreg&approval_prompt=force">
			      <img src="https://strava.github.io/api/images/ConnectWithStrava.png">
			</a>
			<p class="text-center">
				<small>By connecting with Strava, you agree to our <a href="/waiver">Waiver and Consent to Participate</a>. Additionally, you agree to our <a href="/privacy">Privacy Policy</a> and <a href="/terms">Terms of Service</a>.</small>
			</p>
		</p>
	</div>
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="visible-sm visible-md visible-lg header-disabled">Step 2: Connect with Crowdrise</h1>
		<h3 class="visible-xs header-disabled">Step 2: Connect with Crowdrise</h3>
		<p class="header-disabled larger-text">Once you're connected with Strava, we'll get you connected with Crowdrise, our fundraising platform.</p>
	</div>
</div>
{{ end }}