<!--
Developer Notes:
This file is read in as a template and will not work properly until parsed.
-->
{{ define "content" }}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>300 Days of Run Rules & FAQ</h1>
			<div class="panel panel-default">
			  <div class="panel-heading">What are the rules?</div>
			  <div class="panel-body">
			  	<ol>
			  		<li>Run a minimum of 300 Days in 2016</li>
			  		<ul>
			  			<li>All runs have to occur between January 1, 2016 and December 31, 2016</li>
			  			<li>Runs have to be a minimum of 1 mile in length</li>
						<li>Run speed has to be at least 4 miles per hour (15 minute miles)</li>
						<li>Runs can be on a treadmill</li>
					</ul>
					<li>Commit to raise money for a charity of your choice</li>
					<ul>
						<li>You decide on your charity of choice</li>
						<li>You set your own goal for fundraising</li>
					</ul>
					<li>Run (a lot!) and have fun!</li>
				</ol>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">How much does it cost to participate?</div>
			  <div class="panel-body">
			  	Absolutely nothing! We do ask though that you commit to raise money for a charity of your choice.
			  </div>
			</div>
			
			<div class="panel panel-default">
			  <div class="panel-heading">Why do I have to commit to raise money for a charity?</div>
			  <div class="panel-body">
			  	In lieu of an entry fee into the event, we ask that you commit to raise some amount of money for a charity of YOUR choice. Part of the objective of 300 Days of Run is to make an impact on the world beyond your exceptional achievement.  
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">How much should I raise for my charity?</div>
			  <div class="panel-body">
			  	You get to determine that.  BE BOLD! We’ve partnered with CrowdRise to support your fundraising endeavor to be able to reach out to your friends, family and the world to create good and donations.  Maybe you set $300, $1 for each day you run or why not $3000! It’s totally up to you. You know that you are going to be talking about this to all of your friends, or maybe not, but still it needs to be more than just about you!  Seriously though, what better way to celebrate this milestone achievement than helping to support some real people in need.
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">I can't decide which charity to pick. Do you have any suggestions?</div>
			  <div class="panel-body">
			  	Coming soon...
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">Who can participate?</div>
			  <div class="panel-body">
			  	Anyone.  You will need to be able to track your runs and make the minimum run distance and speed for the run. While 300 days of running in a year may seem outrageous, it is an achievable goal for those who are determined to make it happen.
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">Do I have to be a pro athlete to do this?</div>
			  <div class="panel-body">
			  	Nope.  You just need to be determined to get out and run at least 300 days in 2016.  Actually, since the minimum run is only 1 miles, this "endurance running" event is accessible to a wide range of runners from casual to professional.
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">Why should I participate?</div>
			  <div class="panel-body">
			  	Besides achieving an incredible running feat, you will be raising money for charity and helping to make positive change in the world.  Running to help change the world – is there anything better than that? 
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">What items will you track?</div>
			  <div class="panel-body">
			  	We will be tracking: Date of Run, Distance, Time, Pace, Elevation Gain and Money Raised.
			  </div>
			</div>
		 
			<div class="panel panel-default">
			  <div class="panel-heading">Who is organizing this challenge?</div>
			  <div class="panel-body">
			  	300 Days of Run is organized by 300 Days Inc, a Colorado not-for-profit organization in application for 501(c)3 tax-exempt status.
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">What is Strava?</div>
			  <div class="panel-body">
			  	Strava lets you track your runs via your iPhone, Android device or dedicated GPS device and helps you analyze and quantify your performance. For more information on Strava visit <a href="https://www.strava.com/features">https://www.strava.com/features</a>. If you do not have an Strava account, you can set one up for FREE at <a href="https://www.strava.com/">Strava.com</a>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">What is Crowdrise?</div>
			  <div class="panel-body">
			  	CrowdRise is a fundraising site for charitable and personal causes. You are prompted to set up your CrowdRise fundraising page as part of the 300 Days of Run event when you register.  There is no charge for this and is totally free as part of the challenge!
			  </div>
			</div>
		
			<div class="panel panel-default">
			  <div class="panel-heading">What are the Monthly Challenges?</div>
			  <div class="panel-body">
			  	Each month throughout the year, there will be a special challenge (in addition to the already awesome 300 Days). For example, Running all 29 days in February… it’s a once in every 4 year opportunity and we’ll have a special prize to go along with it… More information on the monthly challenges coming soon.
			  </div>
			</div>		

			<div class="panel panel-default">
			  <div class="panel-heading">Is there a shirt and medal for finishing?</div>
			  <div class="panel-body">
			  	We will have special gear and ceremonial 300 Day memento available for purchase for qualifying individuals.  There will also be prizes during the year for challenge winners as they occur.
			  </div>
			</div>		

			<div class="panel panel-default">
			  <div class="panel-heading">Where did the 300 Days of Run come from?</div>
			  <div class="panel-body">
			  	It came one day while running out on a trail. Trying to figure out the ‘next’ goal for a few people who liked to create ‘crazy’ running goals for common runners, 300 Days of Run was born. The idea was also to make it something bigger than just the runner and his or her personal running goal. We wanted to be able make the milestone MORE memorable by joining it with the satisfaction of raising money for charity at the same time in order to make the achievement even more outstanding.
			  </div>
			</div>

			<div class="panel panel-default" id="flyer">
			  <div class="panel-heading">Do you have a flyer so I can share 300 Days of Run with my friends or in my store?</div>
			  <div class="panel-body">
			  	Yes we do!  Download <a href="/assets/images/300DaysOfRunFlyer.pdf" target="_blank">this PDF</a> and share the pull tags with your friends.  The flyer is an ready to print (1 color) and post anywhere you want - bring one to your favorite running store or club and let them know you’re running 300 Days in 2016!
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">Does 2016 being a leap year help me in any way?</div>
			  <div class="panel-body">
			  	Yes! It allows you to miss 66 days of running over the year instead of the usual 65.  Bonus!
			  </div>
			</div>		

			<div class="panel panel-default">
			  <div class="panel-heading">Should I consult a doctor before participating?</div>
			  <div class="panel-body">
			  	Yes.  We also recommend you get your head examined because this thing you are about to do is crazy!
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">Is this really a smart thing to do?</div>
			  <div class="panel-body">
			  	Probably not.  We like to think there is stupid (small s) and Stupid (Big S), and as long as you keep it in the small s range you're golden.
			  </div>
			</div>	

			<div class="panel panel-default">
			  <div class="panel-heading">What's the latest I can start and still complete 300 days of running in 2016?</div>
			  <div class="panel-body">
			  	March 7, 2016 and then you'll need to run everyday through the year end.
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">When is the soonest I can finish 300 days of running in 2016?</div>
			  <div class="panel-body">
			  	If you run continuous days starting January 2016, you will run your 300th run on Wednesday October 26, 2016.
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">How do I remove my name from the participant list?</div>
			  <div class="panel-body">
			  	If you would like to remove yourself from 300 Days of Run, please send an email to <a href="mailto:remove@300daysofrun.com">remove@300daysofrun.com</a> and we'll take care of it.
			  </div>
			</div>
		</div>
	</div>
</div>
{{ end }}