<!--
Developer Notes:
This file is read in as a template and will not work properly until parsed.
-->
{{ define "content" }}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>300 Days of Run Waiver and Consent to Participate</h1>
			<p>In consideration for allowing me to register and participate in 300 Days of Run (Event), I agree as follows:</p>

			<p>1 - My authentication of a Participating Application with 300 Days of Run is my electronic acknowledgement and acceptance of this agreement.</p>

			<p>2 - I, on behalf of myself, my personal representatives, heirs and assigns, hereby fully and forever releases, waives, discharges and covenants not to sue 300 Days of Run Inc., their employees, agents, officers, volunteers, sponsors and assigns, including any other sponsoring or co-sponsoring companies or individuals related to the Event. I further agree to indemnify, defend and hold harmless the aforementioned organizations and individuals from and against any claims, causes of action, damages, judgments, liabilities, fees (including attorney's fees), costs and expenses incurred arising out of my participation in the Event.</p>

			<p>3 - I acknowledge that participating in the Event involves an above-average risk of personal injury, and I voluntarily assume all risks associated with my participation in the Event. I represent and warrant that I am in good health and have no physical conditions that affect my ability to participate in the Event and I have not been advised otherwise by a medical practitioner. </p>

			<p>4 - I give permission to Event organizers to use my run, fundraising and challenge information, including images, in online leaderboards, in any future promotional materials for the Event and in any ways the organizers deem appropriate to represent in association with the Event.</p>

			<p>6 - The Event organizers reserve the right to remove any participating runner from the Event if said runner is deemed to be endangering him/herself or other participants, or is running illegally as defined by state or federal law. Notwithstanding this clause, Event organizers are not responsible for runners not removed from the Event for these or any other reason(s), and this clause shall in no way supersede, exempt participants from or otherwise nullify any other clause in this release agreement.</p>

			<p>7 - I agree, for myself and my Successors, that the above representations are contractually binding, and are not merely recitals, and that should I or my Successors assert a claim contrary to what I have agreed to in this agreement, the claiming party shall be liable for all expenses (including legal fees) incurred by the Event organizers in defending the claims. This agreement may not be modified orally, and a waiver or modification of any provision shall not be construed as a waiver or modification of any other provision herein or as consent to any other waiver or modification.</p>

			<p>8 - The laws of the state of Colorado and the United States govern this Waiver, without giving effect to any choice of law rules. The state and federal courts located in Denver, Colorado will serve as the exclusive venue for any actions brought, or claims made, hereunder, and you expressly consent to such jurisdiction and venue.</p>

			<p>9 - I also represent and warrant to 300 Days Inc. that I have full legal authority to complete this event registration on behalf of myself and/or any other party I am registering (the "Registered Parties"). If I am registering a child under the age of 18 or an incapacitated adult, I represent and warrant that I am the parent or legal guardian of that party and have the legal authority to enter into this agreement on their behalf and by proceeding with this event registration, you agree that the terms of this Agreement shall apply equally to all Registered Parties.</p>

			<p>I HAVE CAREFULLY READ THIS AGREEMENT AND FULLY UNDERSTAND ITS CONTENTS. I AM AWARE THAT THIS IS AN ASSUMPTION OF RISK, WAIVER OF LIABILITY, AND HOLD HARMLESS AGREEMENT, AND THAT IT FORMS A CONTRACT BETWEEN MYSELF AND THE CHALLENGE SPONSORS, AND I ACCEPT OF MY OWN FREE WILL.</p>

		</div>
	</div>
</div>
{{ end }}